InteropCC/Interop.CC.Portal.API/Service References/AKNKatastarskaParcelaDokument/AKNCPlanDocProduction1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AKNServicesProd.Host/AKNCPlanDocProduction.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" />
  <xs:element name="GetCPlanDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="katastarskaOpstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brImotenList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brParcela" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showEmb" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPlanDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" minOccurs="0" name="GetCPlanDocResult" nillable="true" type="q1:AKNDocOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>