InteropCC-Dev branch/Interop.CC.Portal.API/Service References/MONBigDataService/BigData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BigMessagesService.Host/BigData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Implementations.Models" />
  <xs:element name="GetLargeDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="responseSize" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLargeDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Implementations.Models" minOccurs="0" name="GetLargeDocResult" nillable="true" type="q1:DocumentModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>