InteropCC-Dev branch/Interop.CC.Portal.API/Service References/MONBigDataService/BigData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Implementations.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Implementations.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HasDocument" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentModel" nillable="true" type="tns:DocumentModel" />
</xs:schema>