InteropCC/Interop.CC.Portal.API/Service References/CRM_TS_UJP/AdapterServiceCRM_TS_UJP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Get_TS_UJP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_TS_UJPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_TS_UJPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>