InteropCC-Dev branch/Interop.CC.IntegrationTests/Service References/MetaServiceReference/MetaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interop.CC.Models.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interop.CC.Models.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Endpoint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wsdl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>