InteropServicesSolutions/AKNCorrected/TestApp/Service References/AKNMunicipalityTest/AKNMunicipalityTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://interop.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://interop.org/Imports">
      <xsd:import schemaLocation="http://localhost/AKNServicesTest.Host/AKNMunicipalityTest.svc?xsd=xsd0" namespace="http://interop.org/" />
      <xsd:import schemaLocation="http://localhost/AKNServicesTest.Host/AKNMunicipalityTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AKNServicesTest.Host/AKNMunicipalityTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNMunicipalityService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAKNMunicipality_GetMunicipalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMunicipalities" />
  </wsdl:message>
  <wsdl:message name="IAKNMunicipality_GetMunicipalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMunicipalitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IAKNMunicipality_GetCMunicipalities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCMunicipalities" />
  </wsdl:message>
  <wsdl:message name="IAKNMunicipality_GetCMunicipalities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCMunicipalitiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAKNMunicipality">
    <wsdl:operation name="GetMunicipalities">
      <wsdl:input wsaw:Action="http://interop.org/IAKNMunicipality/GetMunicipalities" message="tns:IAKNMunicipality_GetMunicipalities_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IAKNMunicipality/GetMunicipalitiesResponse" message="tns:IAKNMunicipality_GetMunicipalities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCMunicipalities">
      <wsdl:input wsaw:Action="http://interop.org/IAKNMunicipality/GetCMunicipalities" message="tns:IAKNMunicipality_GetCMunicipalities_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IAKNMunicipality/GetCMunicipalitiesResponse" message="tns:IAKNMunicipality_GetCMunicipalities_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>