InteropCC-Dev branch/Interop.CC.Portal.API/Service References/AKNImotenListDokument/AKNPListDocProduction2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AKNDocOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="HasDocument" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AKNDocOutput" nillable="true" type="tns:AKNDocOutput" />
</xs:schema>