InteropServicesSolutions/CURMCorrected/TestApp/Service References/DataExeImpProd/DataExeImp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CURMServicesProd.Host/DataExeImp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedImport" />
  <xs:import schemaLocation="http://localhost/CURMServicesProd.Host/DataExeImp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedImport" />
  <xs:element name="GetDataExeImp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedImport" minOccurs="0" name="input" nillable="true" type="q1:ExecutedImportInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataExeImpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedImport" minOccurs="0" name="GetDataExeImpResult" nillable="true" type="q2:ArrayOfExecutedImportOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>