InteropServicesSolutions/CURMCorrected/TestApp/Service References/SingleCustDocTest/SingleCustDoc_Test.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://interop.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SingleCustDoc_Test" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://interop.org/Imports">
      <xsd:import schemaLocation="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc?xsd=xsd0" namespace="http://interop.org/" />
      <xsd:import schemaLocation="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" />
      <xsd:import schemaLocation="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISingleCustDoc_GetSingleCustDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCustDoc" />
  </wsdl:message>
  <wsdl:message name="ISingleCustDoc_GetSingleCustDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCustDocResponse" />
  </wsdl:message>
  <wsdl:message name="ISingleCustDoc_GetSingleCustDoc_InteropFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" name="detail" element="q1:InteropFault" />
  </wsdl:message>
  <wsdl:message name="ISingleCustDoc_GetCustomsOfficeNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomsOfficeNumbers" />
  </wsdl:message>
  <wsdl:message name="ISingleCustDoc_GetCustomsOfficeNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomsOfficeNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISingleCustDoc">
    <wsdl:operation name="GetSingleCustDoc">
      <wsdl:input wsaw:Action="http://interop.org/ISingleCustDoc/GetSingleCustDoc" message="tns:ISingleCustDoc_GetSingleCustDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/ISingleCustDoc/GetSingleCustDocResponse" message="tns:ISingleCustDoc_GetSingleCustDoc_OutputMessage" />
      <wsdl:fault wsaw:Action="http://interop.org/ISingleCustDoc/GetSingleCustDocInteropFaultFault" name="InteropFaultFault" message="tns:ISingleCustDoc_GetSingleCustDoc_InteropFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomsOfficeNumbers">
      <wsdl:input wsaw:Action="http://interop.org/ISingleCustDoc/GetCustomsOfficeNumbers" message="tns:ISingleCustDoc_GetCustomsOfficeNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/ISingleCustDoc/GetCustomsOfficeNumbersResponse" message="tns:ISingleCustDoc_GetCustomsOfficeNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SingleCustDoc_Test">
    <wsdl:port name="CustomBinding_ISingleCustDoc" binding="i0:CustomBinding_ISingleCustDoc">
      <soap12:address location="http://localhost/CURMServicesTest.Host/SingleCustomsDocumentTest.svc/custom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>