InteropCC-Dev branch/Interop.CC.Portal.API/Service References/FPIOMInsuredRetiredAdapter/FPIOMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://interop.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FPIOMService" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://interop.org/Imports">
      <xsd:import schemaLocation="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc?xsd=xsd0" namespace="http://interop.org/" />
      <xsd:import schemaLocation="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFPIOMService_GetDataForRetired_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForRetired" />
  </wsdl:message>
  <wsdl:message name="IFPIOMService_GetDataForRetired_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForRetiredResponse" />
  </wsdl:message>
  <wsdl:message name="IFPIOMService_GetDataForEnsurees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForEnsurees" />
  </wsdl:message>
  <wsdl:message name="IFPIOMService_GetDataForEnsurees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataForEnsureesResponse" />
  </wsdl:message>
  <wsdl:portType name="IFPIOMService">
    <wsdl:operation name="GetDataForRetired">
      <wsdl:input wsaw:Action="http://interop.org/IFPIOMService/GetDataForRetired" message="tns:IFPIOMService_GetDataForRetired_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IFPIOMService/GetDataForRetiredResponse" message="tns:IFPIOMService_GetDataForRetired_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataForEnsurees">
      <wsdl:input wsaw:Action="http://interop.org/IFPIOMService/GetDataForEnsurees" message="tns:IFPIOMService_GetDataForEnsurees_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IFPIOMService/GetDataForEnsureesResponse" message="tns:IFPIOMService_GetDataForEnsurees_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FPIOMService">
    <wsdl:port name="CustomBinding_IFPIOMService" binding="i0:CustomBinding_IFPIOMService">
      <soap12:address location="http://localhost/AdapterServiceFPIOM.Host/AdapterServiceFPIOM.svc/custom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>