InteropServicesSolutions/AKN/TestAKNWebService/Service References/FaultAKNService/AdapterServiceAKN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://interop.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdapterServiceAKN" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://interop.org/Imports">
      <xsd:import schemaLocation="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?xsd=xsd0" namespace="http://interop.org/" />
      <xsd:import schemaLocation="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FaultAdapterAKN" />
      <xsd:import schemaLocation="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import schemaLocation="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdapterServiceAKN_GetPropertyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyList" />
  </wsdl:message>
  <wsdl:message name="IAdapterServiceAKN_GetPropertyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPropertyListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdapterServiceAKN_GetCadastrialParcel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCadastrialParcel" />
  </wsdl:message>
  <wsdl:message name="IAdapterServiceAKN_GetCadastrialParcel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCadastrialParcelResponse" />
  </wsdl:message>
  <wsdl:message name="IAdapterServiceAKN_GetCadastrialParcel_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IAdapterServiceAKN">
    <wsdl:operation name="GetPropertyList">
      <wsdl:input wsaw:Action="http://interop.org/IAdapterServiceAKN/GetPropertyList" message="tns:IAdapterServiceAKN_GetPropertyList_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IAdapterServiceAKN/GetPropertyListResponse" message="tns:IAdapterServiceAKN_GetPropertyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCadastrialParcel">
      <wsdl:input wsaw:Action="http://interop.org/IAdapterServiceAKN/GetCadastrialParcel" message="tns:IAdapterServiceAKN_GetCadastrialParcel_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IAdapterServiceAKN/GetCadastrialParcelResponse" message="tns:IAdapterServiceAKN_GetCadastrialParcel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://interop.org/IAdapterServiceAKN/GetCadastrialParcelFaultExceptionFault" name="FaultExceptionFault" message="tns:IAdapterServiceAKN_GetCadastrialParcel_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AdapterServiceAKN">
    <wsdl:port name="CustomBinding_IAdapterServiceAKN" binding="i0:CustomBinding_IAdapterServiceAKN">
      <soap12:address location="http://localhost/FaultAdapterAKN.Host/AdapterServiceAKN.svc/custom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>