InteropCC/ClientConsumer/Web References/NextSenseWebRef/M1M2Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://interop.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://interop.org/">
      <s:element name="GetM1M2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personUidn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="companyUidn" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="checkInDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetM1M2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetM1M2Result" type="tns:ArrayOfM1M2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfM1M2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="M1M2" nillable="true" type="tns:M1M2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="M1M2">
        <s:complexContent mixed="false">
          <s:extension base="tns:LogBaseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsuranceTypeAvrmId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckInDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckOutDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CheckOutReasonId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="WorkingHours" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OccupationName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OccupationId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AuthorisedTypeId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="HiringCompany" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TaxNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyUin" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CompanyOrder" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CompanyPlaceAvrmId" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FoundingDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TerminationDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CompanyStatusId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyActivityId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyActivityType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonUidn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonLastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PersonPlaceAvrmId" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="PersonOfficialAddress" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PersonOfficialPlaceAvrmId" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="LogBaseClass" />
      <s:element name="GetM1M2ById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetM1M2ByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetM1M2ByIdResult" type="tns:M1M2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="personUidn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FullName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SurName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FullNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FullNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetM1M2SoapIn">
    <wsdl:part name="parameters" element="tns:GetM1M2" />
  </wsdl:message>
  <wsdl:message name="GetM1M2SoapOut">
    <wsdl:part name="parameters" element="tns:GetM1M2Response" />
  </wsdl:message>
  <wsdl:message name="GetM1M2ByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetM1M2ById" />
  </wsdl:message>
  <wsdl:message name="GetM1M2ByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetM1M2ByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="FullNameSoapIn">
    <wsdl:part name="parameters" element="tns:FullName" />
  </wsdl:message>
  <wsdl:message name="FullNameSoapOut">
    <wsdl:part name="parameters" element="tns:FullNameResponse" />
  </wsdl:message>
  <wsdl:portType name="M1M2ServiceSoap">
    <wsdl:operation name="GetM1M2">
      <wsdl:input message="tns:GetM1M2SoapIn" />
      <wsdl:output message="tns:GetM1M2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetM1M2ById">
      <wsdl:input message="tns:GetM1M2ByIdSoapIn" />
      <wsdl:output message="tns:GetM1M2ByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentSoapIn" />
      <wsdl:output message="tns:GetDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FullName">
      <wsdl:input message="tns:FullNameSoapIn" />
      <wsdl:output message="tns:FullNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="M1M2ServiceSoap" type="tns:M1M2ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetM1M2">
      <soap:operation soapAction="http://interop.org/GetM1M2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetM1M2ById">
      <soap:operation soapAction="http://interop.org/GetM1M2ById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://interop.org/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullName">
      <soap:operation soapAction="http://interop.org/FullName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="M1M2ServiceSoap12" type="tns:M1M2ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetM1M2">
      <soap12:operation soapAction="http://interop.org/GetM1M2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetM1M2ById">
      <soap12:operation soapAction="http://interop.org/GetM1M2ById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap12:operation soapAction="http://interop.org/GetDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FullName">
      <soap12:operation soapAction="http://interop.org/FullName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="M1M2Service">
    <wsdl:port name="M1M2ServiceSoap" binding="tns:M1M2ServiceSoap">
      <soap:address location="http://externalhandler-akn/MIM2$$AVRM/m1m2" />
    </wsdl:port>
    <wsdl:port name="M1M2ServiceSoap12" binding="tns:M1M2ServiceSoap12">
      <soap12:address location="http://externalhandler-akn/MIM2$$AVRM/m1m2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>