InteropServicesSolutions/CURMCorrected/TestApp/Service References/DataExeExpProd/DataExeExp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CURMServicesProd.Host/DataExeExp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedExport" />
  <xs:import schemaLocation="http://localhost/CURMServicesProd.Host/DataExeExp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedExport" />
  <xs:element name="GetDataExeExp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedExport" minOccurs="0" name="input" nillable="true" type="q1:ExecutedExportInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataExeExpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedExport" minOccurs="0" name="GetDataExeExpResult" nillable="true" type="q2:ArrayOfExecutedExportOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>