AKNandPIOM/PIOMApplication.API/Service References/AKNPropertyListCadastralParcel/AdapterServiceAKN3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AdapterServiceAKN.Host/AdapterServiceAKN.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdapterServiceAKN.AKNOriginalService" />
  <xs:element name="GetPropertyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="katastarskaOpstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brImotenList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdapterServiceAKN.AKNOriginalService" minOccurs="0" name="GetPropertyListResult" nillable="true" type="q1:dzgr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCadastrialParcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="katastarskaOpstina" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brParcela" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCadastrialParcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AdapterServiceAKN.AKNOriginalService" minOccurs="0" name="GetCadastrialParcelResult" nillable="true" type="q2:ATRparceli" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>