InteropServicesSolutions/FPIOMCorrected/TestApp/Service References/YearsOfWorkExperienceTest/YearsOfWorkExperienceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://interop.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YearsOfWorkExperienceTest" targetNamespace="http://interop.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://interop.org/Imports">
      <xsd:import schemaLocation="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc?xsd=xsd0" namespace="http://interop.org/" />
      <xsd:import schemaLocation="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" />
      <xsd:import schemaLocation="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.YearsOfWorkExperience" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYWExpReport" />
  </wsdl:message>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYWExpReportResponse" />
  </wsdl:message>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpReport_InteropFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" name="detail" element="q1:InteropFault" />
  </wsdl:message>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYWExpXML" />
  </wsdl:message>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYWExpXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IYearsOfWorkExperience_GetYWExpXML_InteropFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary" name="detail" element="q2:InteropFault" />
  </wsdl:message>
  <wsdl:portType name="IYearsOfWorkExperience">
    <wsdl:operation name="GetYWExpReport">
      <wsdl:input wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpReport" message="tns:IYearsOfWorkExperience_GetYWExpReport_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpReportResponse" message="tns:IYearsOfWorkExperience_GetYWExpReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpReportInteropFaultFault" name="InteropFaultFault" message="tns:IYearsOfWorkExperience_GetYWExpReport_InteropFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYWExpXML">
      <wsdl:input wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpXML" message="tns:IYearsOfWorkExperience_GetYWExpXML_InputMessage" />
      <wsdl:output wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpXMLResponse" message="tns:IYearsOfWorkExperience_GetYWExpXML_OutputMessage" />
      <wsdl:fault wsaw:Action="http://interop.org/IYearsOfWorkExperience/GetYWExpXMLInteropFaultFault" name="InteropFaultFault" message="tns:IYearsOfWorkExperience_GetYWExpXML_InteropFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="YearsOfWorkExperienceTest">
    <wsdl:port name="CustomBinding_IYearsOfWorkExperience" binding="i0:CustomBinding_IYearsOfWorkExperience">
      <soap12:address location="http://localhost/FPIOMServicesTest.Host/YearsOfWorkExperienceTest.svc/custom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>