InteropCC/Interop.CC.Portal.API/Service References/CURMEdinstvenCarinskiDokument/SingleCustDoc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CURMServicesProd.Host/SingleCustDoc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" />
  <xs:element name="GetSingleCustDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="edbOfShippingCompany" type="xs:long" />
        <xs:element minOccurs="0" name="numberOfCustomsOffice" type="xs:int" />
        <xs:element minOccurs="0" name="regNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCustDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" minOccurs="0" name="GetSingleCustDocResult" nillable="true" type="q1:SingleCustomsDocumentOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomsOfficeNumbers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomsOfficeNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" minOccurs="0" name="GetCustomsOfficeNumbersResult" nillable="true" type="q2:ArrayOfCustomsOfficeNumbers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>