InteropCC-Dev branch/Interop.CC.Portal.API/Service References/InstitutionBPersonData/EvalPersonData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EvalServicePersonData/EvalPersonData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Implementations.Models" />
  <xs:element name="GetPersonData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getData" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Implementations.Models" minOccurs="0" name="GetPersonDataResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>