InteropServicesSolutions/FPIOMCorrected/TestApp/Service References/YearsOfWorkExperience/YearsOfWorkExperience.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/FPIOMServicesProd.Host/YearsOfWorkExperience.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.YearsOfWorkExperience" />
  <xs:element name="GetYWExpReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYWExpReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetYWExpReportResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYWExpXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="embg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYWExpXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.Models.YearsOfWorkExperience" minOccurs="0" name="GetYWExpXMLResult" nillable="true" type="q1:YearsOfWorkExperienceOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>