InteropCC/Interop.CC.Portal.API/Service References/AKNKatastarskaParcela/CadastrialParcel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ATRparceli">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nizpar" nillable="true" type="tns:ArrayOfParcelAtr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATRparceli" nillable="true" type="tns:ATRparceli" />
  <xs:complexType name="ArrayOfParcelAtr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParcelAtr" nillable="true" type="tns:ParcelAtr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParcelAtr" nillable="true" type="tns:ArrayOfParcelAtr" />
  <xs:complexType name="ParcelAtr">
    <xs:sequence>
      <xs:element minOccurs="0" name="broj_del" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ilist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kops" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kultura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="objekt" type="xs:int" />
      <xs:element minOccurs="0" name="ops" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="povrsina" type="xs:long" />
      <xs:element minOccurs="0" name="pravo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParcelAtr" nillable="true" type="tns:ParcelAtr" />
</xs:schema>