InteropCC-Dev branch/Interop.CC.Portal.API/Service References/MONDataForRegularStudent/DRegStudent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetStuD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EMBG" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStuDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStuDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>