InteropServicesSolutions/MzTV/TestAdapterApp/Service References/MzTVadapterservice/MzTVAdapter2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/InteropServices.MzTV.Host/MzTVAdapter.svc?xsd=xsd2" namespace="https://www.gradezna-dozvola.mk/Services/" />
  <xs:element name="GetConstructionPermitData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="constructionTypeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipalityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sendDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getDocuments" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstructionPermitDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="https://www.gradezna-dozvola.mk/Services/" minOccurs="0" name="GetConstructionPermitDataResult" nillable="true" type="q1:InteropOutputViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>