InteropServicesSolutions/CURMCorrected/TestApp/Service References/DataExeImpTest/DataForExecutedImportTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedImport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Models.DataForExecutedImport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExecutedImportOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExecutedImportOutput" nillable="true" type="tns:ExecutedImportOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExecutedImportOutput" nillable="true" type="tns:ArrayOfExecutedImportOutput" />
  <xs:complexType name="ExecutedImportOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="EDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ImportMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ImportTaxAmount" type="xs:double" />
      <xs:element minOccurs="0" name="ImportYear" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecutedImportOutput" nillable="true" type="tns:ExecutedImportOutput" />
</xs:schema>