InteropCC-Dev branch/Interop.CC.Portal.API/Service References/CURMPodatociZaIzvoz/DataExeExp4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedExport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.DataAccessLibrary.DataForExecutedExport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExecutedExportInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOfExportFrom" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AmountOfExportTo" nillable="true" type="xs:double" />
      <xs:element name="EDB" type="xs:long" />
      <xs:element minOccurs="0" name="MonthOfExportFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MonthOfExportTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearOfExportFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="YearOfExportTo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExecutedExportInput" nillable="true" type="tns:ExecutedExportInput" />
</xs:schema>