InteropCC-Dev branch/Interop.CC.Portal.API/Service References/UJPRegistarNaObvrzniciZaAkcizaTest/RegExcBondsTest2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Models.RegExcBonds" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Models.RegExcBonds" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExciseBondsInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="EDB" type="xs:long" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExciseBondsInput" nillable="true" type="tns:ExciseBondsInput" />
  <xs:complexType name="ExciseBondsOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExciseBonds" nillable="true" type="tns:ArrayOfExciseBonds" />
      <xs:element minOccurs="0" name="ExciseGoods" nillable="true" type="tns:ArrayOfExciseGoods" />
      <xs:element minOccurs="0" name="ExciseSpaces" nillable="true" type="tns:ArrayOfExciseSpaces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExciseBondsOutput" nillable="true" type="tns:ExciseBondsOutput" />
  <xs:complexType name="ArrayOfExciseBonds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExciseBonds" nillable="true" type="tns:ExciseBonds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExciseBonds" nillable="true" type="tns:ArrayOfExciseBonds" />
  <xs:complexType name="ExciseBonds">
    <xs:sequence>
      <xs:element minOccurs="0" name="broj_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="datum_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="embg_odgovorno_lice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="embg_polnomosnik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_odgovorno_lice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_polnomosnik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prethodno_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sledno_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vid_odobrenie" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExciseBonds" nillable="true" type="tns:ExciseBonds" />
  <xs:complexType name="ArrayOfExciseGoods">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExciseGoods" nillable="true" type="tns:ExciseGoods" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExciseGoods" nillable="true" type="tns:ArrayOfExciseGoods" />
  <xs:complexType name="ExciseGoods">
    <xs:sequence>
      <xs:element minOccurs="0" name="broj_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kolicina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opis_merka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proizvod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stavka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tarifa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="za_proizvodstvo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="za_skladiranje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExciseGoods" nillable="true" type="tns:ExciseGoods" />
  <xs:complexType name="ArrayOfExciseSpaces">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExciseSpaces" nillable="true" type="tns:ExciseSpaces" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExciseSpaces" nillable="true" type="tns:ArrayOfExciseSpaces" />
  <xs:complexType name="ExciseSpaces">
    <xs:sequence>
      <xs:element minOccurs="0" name="broj_odobrenie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="embg_odgovorno_lice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_odgovorno_lice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="naziv_ulica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_datum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stavka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ulica_broj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="za_proizvodstvo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="za_skladiranje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zabeleska" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExciseSpaces" nillable="true" type="tns:ExciseSpaces" />
</xs:schema>