InteropCC/ClientConsumer/Service References/MetaServiceReference/MetaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MetaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Interop.CC.Handler.External/MetaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Interop.CC.Handler.External/MetaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Interop.CC.Handler.External/MetaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Interop.CC.Models.Models" />
      <xsd:import schemaLocation="http://localhost/Interop.CC.Handler.External/MetaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Interop.CC.MetaService.Models" />
      <xsd:import schemaLocation="http://localhost/Interop.CC.Handler.External/MetaService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetaService_RegisterService_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterService" />
  </wsdl:message>
  <wsdl:message name="IMetaService_RegisterService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_UnRegisterService_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterService" />
  </wsdl:message>
  <wsdl:message name="IMetaService_UnRegisterService_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetProviders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProviders" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetProviders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetService" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetService_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_ListConsumers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListConsumers" />
  </wsdl:message>
  <wsdl:message name="IMetaService_ListConsumers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListConsumersResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_CheckStateByTransactionId_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStateByTransactionId" />
  </wsdl:message>
  <wsdl:message name="IMetaService_CheckStateByTransactionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStateByTransactionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetMessageByTransactionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageByTransactionId" />
  </wsdl:message>
  <wsdl:message name="IMetaService_GetMessageByTransactionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageByTransactionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaService_PostMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PostMessage" />
  </wsdl:message>
  <wsdl:message name="IMetaService_PostMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetaService">
    <wsdl:operation name="RegisterService">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/RegisterService" message="tns:IMetaService_RegisterService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/RegisterServiceResponse" message="tns:IMetaService_RegisterService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterService">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/UnRegisterService" message="tns:IMetaService_UnRegisterService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/UnRegisterServiceResponse" message="tns:IMetaService_UnRegisterService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/GetProviders" message="tns:IMetaService_GetProviders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/GetProvidersResponse" message="tns:IMetaService_GetProviders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/GetServices" message="tns:IMetaService_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/GetServicesResponse" message="tns:IMetaService_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/GetService" message="tns:IMetaService_GetService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/GetServiceResponse" message="tns:IMetaService_GetService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListConsumers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/ListConsumers" message="tns:IMetaService_ListConsumers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/ListConsumersResponse" message="tns:IMetaService_ListConsumers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStateByTransactionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/CheckStateByTransactionId" message="tns:IMetaService_CheckStateByTransactionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/CheckStateByTransactionIdResponse" message="tns:IMetaService_CheckStateByTransactionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageByTransactionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/GetMessageByTransactionId" message="tns:IMetaService_GetMessageByTransactionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/GetMessageByTransactionIdResponse" message="tns:IMetaService_GetMessageByTransactionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMetaService/PostMessage" message="tns:IMetaService_PostMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMetaService/PostMessageResponse" message="tns:IMetaService_PostMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMetaService" type="tns:IMetaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterService">
      <soap:operation soapAction="http://tempuri.org/IMetaService/RegisterService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterService">
      <soap:operation soapAction="http://tempuri.org/IMetaService/UnRegisterService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <soap:operation soapAction="http://tempuri.org/IMetaService/GetProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IMetaService/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <soap:operation soapAction="http://tempuri.org/IMetaService/GetService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListConsumers">
      <soap:operation soapAction="http://tempuri.org/IMetaService/ListConsumers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStateByTransactionId">
      <soap:operation soapAction="http://tempuri.org/IMetaService/CheckStateByTransactionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByTransactionId">
      <soap:operation soapAction="http://tempuri.org/IMetaService/GetMessageByTransactionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMessage">
      <soap:operation soapAction="http://tempuri.org/IMetaService/PostMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetaService">
    <wsdl:port name="BasicHttpBinding_IMetaService" binding="tns:BasicHttpBinding_IMetaService">
      <soap:address location="http://localhost/Interop.CC.Handler.External/MetaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>