InteropCC/ClientConsumer/Service References/MetaServiceReference/MetaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interop.CC.MetaService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interop.CC.MetaService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProviderCCDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProviderCCDTO" nillable="true" type="tns:ProviderCCDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProviderCCDTO" nillable="true" type="tns:ArrayOfProviderCCDTO" />
  <xs:complexType name="ProviderCCDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderCCDTO" nillable="true" type="tns:ProviderCCDTO" />
</xs:schema>