InteropCC/Interop.CC.Portal.API/Service References/UJPRegistarNaObvrzniciZaAkciza/RegExcBonds1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org" elementFormDefault="qualified" targetNamespace="http://interop.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/UJPServicesProd.Host/RegExcBonds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Models.RegExcBonds" />
  <xs:element name="GetRegExcBonds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.Models.RegExcBonds" minOccurs="0" name="input" nillable="true" type="q1:ExciseBondsInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegExcBondsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Models.RegExcBonds" minOccurs="0" name="GetRegExcBondsResult" nillable="true" type="q2:ExciseBondsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>