InteropCC/Interop.CC.Portal.API/Service References/UJPEdinstvenDanocenBrojTest/DataForEDBTest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Models.DataFor_EDB_EMB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Models.DataFor_EDB_EMB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEDB_EMB_Output">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EDB_EMB_Output" nillable="true" type="tns:EDB_EMB_Output" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEDB_EMB_Output" nillable="true" type="tns:ArrayOfEDB_EMB_Output" />
  <xs:complexType name="EDB_EMB_Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankaZiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatumPrijava" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DejnostNace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Emb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrijavaStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrijavaVid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedisteBroj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedisteNaziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedisteTelefax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedisteTelefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SedisteUlica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ziro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EDB_EMB_Output" nillable="true" type="tns:EDB_EMB_Output" />
</xs:schema>