InteropExternalCC/MetaService/Service References/CSMetaServiceReference/CSMetaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Interop.CS.MetaService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Interop.CS.MetaService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProviderCSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProviderCSDTO" nillable="true" type="tns:ProviderCSDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProviderCSDTO" nillable="true" type="tns:ArrayOfProviderCSDTO" />
  <xs:complexType name="ProviderCSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProviderCSDTO" nillable="true" type="tns:ProviderCSDTO" />
</xs:schema>