InteropServicesSolutions/AKNCorrected/TestApp/Service References/AKNMunicipalityProduction/AKNMunicipality1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org/" elementFormDefault="qualified" targetNamespace="http://interop.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AKNServicesProd.Host/AKNMunicipality.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNMunicipalityService" />
  <xs:element name="GetMunicipalities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMunicipalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNMunicipalityService" minOccurs="0" name="GetMunicipalitiesResult" nillable="true" type="q1:ArrayOfMunicipalityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMunicipalities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="municipalityValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCMunicipalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.DTO_s.AKNMunicipalityService" minOccurs="0" name="GetCMunicipalitiesResult" nillable="true" type="q2:ArrayOfMunicipalityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>