InteropCC-Dev branch/Interop.CC.Portal.API/Service References/MZTVConstructionPermitAdapter/MzTVAdapter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://www.gradezna-dozvola.mk/Services/" elementFormDefault="qualified" targetNamespace="https://www.gradezna-dozvola.mk/Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InteropOutputViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Investors" nillable="true" type="tns:ArrayOfString">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="SendDate" type="xs:dateTime" />
      <xs:element name="ArchiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConstructionDescription" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ConstructionTypeName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ConstructionAddress" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Municipalities" nillable="true" type="tns:ArrayOfInteropRequestMunicipalityViewModel">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="EffectDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Documents" nillable="true" type="tns:ArrayOfInteropDocumentsViewModel">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteropOutputViewModel" nillable="true" type="tns:InteropOutputViewModel" />
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
  <xs:complexType name="ArrayOfInteropRequestMunicipalityViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InteropRequestMunicipalityViewModel" nillable="true" type="tns:InteropRequestMunicipalityViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInteropRequestMunicipalityViewModel" nillable="true" type="tns:ArrayOfInteropRequestMunicipalityViewModel" />
  <xs:complexType name="InteropRequestMunicipalityViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="MunicipalityName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CadastreMunicipalities" nillable="true" type="tns:ArrayOfInteropCadastreMunicipalityViewModel">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteropRequestMunicipalityViewModel" nillable="true" type="tns:InteropRequestMunicipalityViewModel" />
  <xs:complexType name="ArrayOfInteropCadastreMunicipalityViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InteropCadastreMunicipalityViewModel" nillable="true" type="tns:InteropCadastreMunicipalityViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInteropCadastreMunicipalityViewModel" nillable="true" type="tns:ArrayOfInteropCadastreMunicipalityViewModel" />
  <xs:complexType name="InteropCadastreMunicipalityViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ko" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Kp" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteropCadastreMunicipalityViewModel" nillable="true" type="tns:InteropCadastreMunicipalityViewModel" />
  <xs:complexType name="ArrayOfInteropDocumentsViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InteropDocumentsViewModel" nillable="true" type="tns:InteropDocumentsViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInteropDocumentsViewModel" nillable="true" type="tns:ArrayOfInteropDocumentsViewModel" />
  <xs:complexType name="InteropDocumentsViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ContentBytes" nillable="true" type="xs:base64Binary">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InteropDocumentsViewModel" nillable="true" type="tns:InteropDocumentsViewModel" />
</xs:schema>