InteropCC/Interop.CC.Portal.API/Service References/GetDocForOUorNPorPP/GetDocForOUorNPorPP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://interop.org" elementFormDefault="qualified" targetNamespace="http://interop.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/InteropServices.UJP.Host/GetDocForOUorNPorPP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InteropServices.UJP.Implementations" />
  <xs:element name="GetDocOUorNPorPP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="institution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="service" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="additionalInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocOUorNPorPPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InteropServices.UJP.Implementations" minOccurs="0" name="GetDocOUorNPorPPResult" nillable="true" type="q1:OutputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>