InteropCC-Dev branch/Interop.CC.Portal.API/Service References/FPIOMYearsOfWorkExperience/YearsOfWorkExperience2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InteropServices.FPIOM.Implementations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InteropServices.FPIOM.Implementations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="YearsOfWorkExperienceOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeneralData" nillable="true" type="tns:YWEGeneralData" />
      <xs:element minOccurs="0" name="InsuranceData" nillable="true" type="tns:ArrayOfYWEInsuranceData" />
      <xs:element minOccurs="0" name="InvalidM4" nillable="true" type="tns:ArrayOfYWEInvalidM4" />
      <xs:element minOccurs="0" name="M4" nillable="true" type="tns:ArrayOfYWEM4" />
      <xs:element minOccurs="0" name="OldAndForeignExperience" nillable="true" type="tns:ArrayOfYWEOldAndForegnExperience" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearsOfWorkExperienceOutput" nillable="true" type="tns:YearsOfWorkExperienceOutput" />
  <xs:complexType name="YWEGeneralData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirht" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWEGeneralData" nillable="true" type="tns:YWEGeneralData" />
  <xs:complexType name="ArrayOfYWEInsuranceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YWEInsuranceData" nillable="true" type="tns:YWEInsuranceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYWEInsuranceData" nillable="true" type="tns:ArrayOfYWEInsuranceData" />
  <xs:complexType name="YWEInsuranceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyRegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeeklyHours" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWEInsuranceData" nillable="true" type="tns:YWEInsuranceData" />
  <xs:complexType name="ArrayOfYWEInvalidM4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YWEInvalidM4" nillable="true" type="tns:YWEInvalidM4" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYWEInvalidM4" nillable="true" type="tns:ArrayOfYWEInvalidM4" />
  <xs:complexType name="YWEInvalidM4">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegreeOfIncrease" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationWorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfSickLeave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWEInvalidM4" nillable="true" type="tns:YWEInvalidM4" />
  <xs:complexType name="ArrayOfYWEM4">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YWEM4" nillable="true" type="tns:YWEM4" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYWEM4" nillable="true" type="tns:ArrayOfYWEM4" />
  <xs:complexType name="YWEM4">
    <xs:sequence>
      <xs:element minOccurs="0" name="DegreeOfIncrease" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationWorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDuration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Meseci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingHours" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearOfSickLeave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWEM4" nillable="true" type="tns:YWEM4" />
  <xs:complexType name="ArrayOfYWEOldAndForegnExperience">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YWEOldAndForegnExperience" nillable="true" type="tns:YWEOldAndForegnExperience" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYWEOldAndForegnExperience" nillable="true" type="tns:ArrayOfYWEOldAndForegnExperience" />
  <xs:complexType name="YWEOldAndForegnExperience">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DegreeOfIncreaseOfWorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationWorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeOfWorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkExperience" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YWEOldAndForegnExperience" nillable="true" type="tns:YWEOldAndForegnExperience" />
</xs:schema>