InteropServicesSolutions/CURMCorrected/TestApp/Service References/SingleCustDocProd/SingleCustDoc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Models.SingleCustomsDocument" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SingleCustomsDocumentOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExporterData" nillable="true" type="tns:SCDExporterData" />
      <xs:element minOccurs="0" name="GeneralData" nillable="true" type="tns:SCDGeneralData" />
      <xs:element minOccurs="0" name="ImporterData" nillable="true" type="tns:SCDImporterData" />
      <xs:element minOccurs="0" name="ItemData" nillable="true" type="tns:ArrayOfSCDItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingleCustomsDocumentOutput" nillable="true" type="tns:SingleCustomsDocumentOutput" />
  <xs:complexType name="SCDExporterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="SenderAddressPart1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAddressPart2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCDExporterData" nillable="true" type="tns:SCDExporterData" />
  <xs:complexType name="SCDGeneralData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclarantCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeclatarionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryTermsSituationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExciseStoreCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportingConditionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportingConditionPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExportingCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImportExport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporterEDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalityOfVehicle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcedureType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationOfVehicle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationSeries" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderEDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalInvoiceAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCDGeneralData" nillable="true" type="tns:SCDGeneralData" />
  <xs:complexType name="SCDImporterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImporterAddressPart1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporterAddressPart2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporterPlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImporterPostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCDImporterData" nillable="true" type="tns:SCDImporterData" />
  <xs:complexType name="ArrayOfSCDItemData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SCDItemData" nillable="true" type="tns:SCDItemData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSCDItemData" nillable="true" type="tns:ArrayOfSCDItemData" />
  <xs:complexType name="SCDItemData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryOfOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOfGoodsPart1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOfGoodsPart2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionOfGoodsPart3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrossMass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatisticalValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffTagPart1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TariffTagPart2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SCDItemData" nillable="true" type="tns:SCDItemData" />
  <xs:complexType name="ArrayOfCustomsOfficeNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomsOfficeNumbers" nillable="true" type="tns:CustomsOfficeNumbers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomsOfficeNumbers" nillable="true" type="tns:ArrayOfCustomsOfficeNumbers" />
  <xs:complexType name="CustomsOfficeNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomsOfficeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomsOfficeNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomsOfficeNumbers" nillable="true" type="tns:CustomsOfficeNumbers" />
</xs:schema>