InteropCC-Dev branch/Interop.CC.Portal.API/Service References/AKNMunicipalityService/AKNMunSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdapterServiceAKN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdapterServiceAKN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMunicipalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MunicipalityDTO" nillable="true" type="tns:MunicipalityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMunicipalityDTO" nillable="true" type="tns:ArrayOfMunicipalityDTO" />
  <xs:complexType name="MunicipalityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MunicipalityDTO" nillable="true" type="tns:MunicipalityDTO" />
</xs:schema>